body{
    color: black;
    text-align: center;
    
    background-image: url(eberhard-grossgasteiger-hpOcJBsdw2c-unsplash.jpg);
    background-size: cover;
}

form {
    display: inline-block;
    border: px solid black;
}